

//Gradients 
$spider-man: linear-gradient(4deg, #003e65, #653a48, #972e2a, #c40001);
$muted-spider: linear-gradient(141deg, #003d51, #61505c, #a46267, #e87171);
$the-deep: linear-gradient(228deg, #324cc1, #5f82a9, #68ba8d, #53f366);
$mantis: linear-gradient(119deg, #20a5d8, #8cb6ad, #bdc87f, #e2db45);
$elephant: linear-gradient(75deg, #223648, #705e44, #b68937, #ffb80c);