@import "./colors";

.devicon {
  width: 14%;
  margin: 1%;
}

.skills-row > .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #A9A9A9;
  background-color: transparent;
  cursor: pointer;

  i {
    font-size: 36px;
    color: #A9A9A9;
  }

  &:hover {
    background-color: #A9A9A9;

    i {
      color: rgba(250,250,250,0.9);
    }
  }
}

.portfolio-item {
  .thumb-inner {
    div {
      display: flex;
      justify-content: space-around;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      width: 100%;

      a {
        text-decoration: none;
      }
    }
  }
  
  &:hover {
    .thumb-inner {
      div {
        opacity: 1;
        visibility: visible;
        position: relative;
      }
    }
  }
}

footer {
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-top: 60px;
  width: 100%;
  padding: 0 4%
}